/* 自定义页脚样式-固定在底部 */
    #customize.custom-footer p:last-child {
        white-space: nowrap;
    }
    #customize.custom-footer {
        position: fixed;
        bottom: 20px;
        left: 50%;
        transform: translateX(-50%);
        background-color: rgba(255,255,255,0.2);
        backdrop-filter: blur(10px);
        padding: 8px;
        border-radius: 8px;
    }
    /* 夜间模式背景 */
    .hope-ui-dark #customize.custom-footer {
        background-color: rgba(0,0,0,0.2);
        backdrop-filter: blur(10px);
    }
    /* 隐藏原页脚 */
    .footer span, .footer a:nth-of-type(1), .footer a:nth-of-type(2) {
        display: none;
    }
