/* 原页脚样式修改为显示 */
.footer span {
    display: inline;
}

.footer a:nth-of-type(1) {
    display: inline;
    text-decoration: none;
    color: inherit;
}

/* 为服务条款设置超链接样式 */
.footer a:nth-of-type(1) {
    content: "Powered by alist | 服务条款";
    color: inherit;
}

.footer a:nth-of-type(1):hover {
    color: #007bff; /* 设置悬停颜色 */
}

/* 为原有超链接设置目标 URL */
.footer a:nth-of-type(1) {
    href: "https://blog.ling-yin.top/2024/11/03/mp/";
}
