<!--延迟加载-->
<div id="customize" style="display: none;">
    <!-- 自定义页脚内容 -->
    <div class="custom-footer" style="text-align: center;">
        <p align="center">
            &copy; Powered by alist
            <span>|</span>
            <a target="_blank" href="https://blog.ling-yin.top/2024/11/03/mp/" >服务条款</a>
        </p>
        <p align="center">开放、平等、协作、共享 ——互联网精神</p>
    </div>

    <!-- 自定义样式 -->
    <style>
        /* 自定义页脚样式 - 固定在底部 */
        #customize .custom-footer p:last-child {
           white-space: nowrap;
        }
        #customize .custom-footer {
            position: fixed;  /* 固定定位 */
            bottom: 20px;    /* 预留底栏空间 */
            left: 50%;      /* 水平居中 */
            transform: translateX(-50%);  /* 水平居中补偿 */
            background-color: rgba(255, 255, 255, 0.2);
            backdrop-filter: blur(10px);
            padding: 8px 8px;
            border-radius: 8px;
        }

        /* 夜间模式背景 */
        .hope-ui-dark #customize .custom-footer {
            background-color: rgba(0, 0, 0, 0.2);
            backdrop-filter: blur(10px);
        }

        /* 隐藏原页脚 */
        .footer span,
        .footer a:nth-of-type(1) {
            display: none;
        }
        
        .footer span,
        .footer a:nth-of-type(2) {
            display: none;
        }
    </style>
</div>

<!--延迟加载配套使用JS-->
<script>
    let interval = setInterval(() => {
        if (document.querySelector(".footer")) {
            document.querySelector("#customize").style.display = "";
            clearInterval(interval);
        }
    }, 200);
</script>
